body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Comic sans MS', Georgia, 'Times New Roman', serif;
}

.success-message{
    height: 100vh;
}

.success-message .row .col h1{
    margin-top: 30vh;
}

input[type=number] {
    -moz-appearance: textfield;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.logo img {
    height: 50px;
    width: 50px;
}

.bg-self-yellow {
    background-color: rgb(252, 210, 50);
}

.containerr {
    width: 100% ;
    height: 50vh;
    overflow: hidden;
    background: #000;
}

.containerr div {
    position: relative;
    display: block;
    float: left;
    height: 20vh;
    width: 20%;
    background: url(../images/brainster.png); 
}

.containerr div:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/brainster.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transform-style: preserve-3d;
    transform-origin: top;
    transform: perspective(1000px) rotateX(0deg) translateY(0);
    transition: 0.5s linear;
}

.containerr div.flip:before {
    transform: perspective(1000px) rotateX(90deg) translateY(-50%);
}

.containerr div:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/brainster.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transform-style: preserve-3d;
    transform-origin: top;
    transform: perspective(1000px) rotateX(-90deg) translateY(50%);
    transition: 0.5s linear;
}

.containerr div.flip:after {
    transform: perspective(1000px) rotateX(0deg) translateY(0);
}

.self-card-title {
    font-size: 15px;
    font-weight: 500;
}
.card {
    box-shadow: 8px 2px 37px -18px black;
    transition: all .5s ease; /* back to normal */
  }
.card:hover{
    transform: translate3D(0,-1px,0) scale(1.04);
    transition: ease;
    box-shadow: 8px 2px 37px -18px black;
  transition: all .4s ease;
}

.input_vis{
    display: none;
}

.marketing-icon,
.programming-icon,
.design-icon {
    display: none;
}

label:hover {
    cursor: pointer;
}

.bg-self-dark {
    background-color: rgb(52, 58, 64);
}

.active-filter {
    background-color: red;
}

.active-filter > .marketing-icon,
.active-filter > .programming-icon,
.active-filter > .design-icon {
    display: inline-block;
}

.fa-check-circle {
    color: rgb(52, 58, 64);
}

.spec-title-font{
    font-size: 1.1rem;
}

.students{
    /* font-size: 55px; */
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.form-padding {
    padding-bottom: 25vh;
}

@media only screen and (max-width: 1125px) and (min-width: 992px){
    .media-padding {
        padding-left: 0px !important;
    }
}

@media only screen and (min-width: 992px){
    .containerr div {
        position: relative;
        display: block;
        float: left;
        height: 20vh;
        width: 20%;
        background: url(../images/brainster.png); 
    }
    
    .containerr div:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/brainster.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        transform-style: preserve-3d;
        transform-origin: top;
        transform: perspective(1000px) rotateX(0deg) translateY(0);
        transition: 0.5s linear;
    }
    
    .containerr div.flip:before {
        transform: perspective(1000px) rotateX(90deg) translateY(-50%);
    }
    
    .containerr div:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/brainster-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        transform-style: preserve-3d;
        transform-origin: top;
        transform: perspective(1000px) rotateX(-90deg) translateY(50%);
        transition: 0.5s linear;
    }
    
    .containerr div.flip:after {
        transform: perspective(1000px) rotateX(0deg) translateY(0);
    }
}
@media only screen and (max-width: 729px) and (min-width: 576px){
    .media-padding {
        padding-left: 0px !important;
        margin-top: 10%;
    }
}

@media only screen and (min-width: 576px){
    #filter-marketing,
    #filter-programming {
        border-right: solid white 1px;
    }

    .students{
        font-size: 55px;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

@media only screen and (max-width: 992px){
    .colapse-self {
        height: 100vh;
    }
}

